css

.intro-p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 20px;
  font-family: Verdana, sans-serif; 
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px; 
}
.section-title {
  position: relative;
  font-size: 50px;
}
.txt{
  font-family: Helvetica, sans-serif;
}